/*
 * Fade animation classes
 */
.fadein {
    display: none;
}

.fadeout { }


/*
 * Avatar
 */
.avatar {
    border: 5px solid aqua;
}

.avatar-32 {
    border: 1px solid aqua;
}


/*
 * GitHub logo
 */
.octocat {
    float: right;
}


/*
 * JS licenses
 */
#jslicense {
    font-color: lime;
}
